@page "/"
@page "/{name}"

<h1>Hello, world!**</h1>

Welcome to your new app, @Name.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>Some client content here: @Text</p>

<input type="text" @bind="Text" @bind:event="oninput" />

@code
{
    [Parameter]
    public string Name { get; set; }

    protected override void OnParametersSet()
    {
        this.Name = this.Name ?? "No name!";
    }

    private string Text { get; set; } = "...";
}
